* {
  font-family: 'poppins';
}

/* about section start */
#about {
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main_row{
  width: 700px;
  padding: 20px;
  border: 1px solid gray;
}
.profile_image img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
}

/* about section end */